body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#orders {
    box-shadow: 0 0 10px black;
    width: 40%;
    border: 1px solid lightgray;
}

section.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

p, h2, h3, h4, h5 {
    text-align: center;
    color: darkslategray;
    padding-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    color: darkslategray;
    padding-top: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    color: darkslategray;
}

.delete-button {
    margin-left: 20px;
}

.customer-list {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

h3 {
    margin: 0 0 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

li:hover {
    background-color: #eaeaea;
}

nav {
    background-color: darkslategrey;
    overflow: hidden;
    border-radius: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 0 10px black;

}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #91a3b0;
    color: white;
    border-radius: 10px;
}

.nav-bar::after {
    content: "";
    clear: both;
    display: table;
}